[submodule "benchmarks/VINE"]
	path = benchmarks/VINE
	url = https://github.com/Shilin-LU/VINE.git
[submodule "benchmarks/AudioMarkBench"]
	path = benchmarks/AudioMarkBench
	url = https://github.com/mileskuo42/AudioMarkBench.git
[submodule "benchmarks/VideoMarkBench"]
	path = benchmarks/VideoMarkBench
	url = https://github.com/zhengyuan-jiang/VideoMarkBench.git
